body {background: rgb(214, 233, 245);
color: rgb(0, 0, 39); 
}

.App {
  text-align: center;
 }

.App-header {
  font-size: 20px; 
  font-weight: bold;
  margin: 25px 0; 
 }

.App-footer {
  margin: 25px 0; 
}
