.Dictionary section { 
    background: rgb(243, 249, 253, 0.8); 
    padding: 30px; 
    border-radius: 6px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);  
    margin: 20px; 
}

.Dictionary input {
    width: 70%; 
    padding: 6px 4px; 
    border: 1px solid rgb(160, 160, 160);
    color: #333; 

}

.Dictionary .hint { 
    font-size: 14px; 
}
